// Fonts
$main-font: 'Jost', sans-serif;

$font-size-sm: 14px;
$font-size-base: 16px;
$font-size-l: 18px;
$font-size-xl: 36px;

$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;


// Colors

$main-orange: #ff6a2f;

$light-gray: #d1d1d1;
$grey: #ccc;
$dark-grey: #6b6b6b;


// Borders

$border: 1px solid $light-gray;

// spacing

$gutter: 16px;
$gutter-double: $gutter * 2;

$aria: 16px;
$aria-double: $aria * 2;