.film-card {
  border: 1px solid #d1d1d1;
  margin: 16px; }
  .film-card__title {
    color: #ff6a2f;
    font-family: "Jost", sans-serif;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 16px;
    margin-top: 0; }
  .film-card__director {
    margin-bottom: 16px; }
  .film-card__release {
    margin-bottom: 16px; }
  .film-card__summary {
    font-family: "Jost", sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 32px; }

.button {
  margin-right: 16px; }
